.gitignore
bin/Debug/netcoreapp2.1/TwitterFunction/function.json
bin/Debug/netcoreapp2.1/ScrapeFunction/function.json
bin/Debug/netcoreapp2.1/mcscOfficial.deps.json
bin/Debug/netcoreapp2.1/LuisFunction/function.json
bin/Debug/netcoreapp2.1/local.settings.json
bin/Debug/netcoreapp2.1/host.json
bin/Debug/netcoreapp2.1/bin/System.Xml.XPath.XmlDocument.dll
bin/Debug/netcoreapp2.1/bin/System.Text.Encodings.Web.dll
bin/Debug/netcoreapp2.1/bin/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/netcoreapp2.1/bin/System.Net.Http.Formatting.dll
bin/Debug/netcoreapp2.1/bin/runtimes/win/lib/netstandard1.3/System.Text.Encoding.CodePages.dll
bin/Debug/netcoreapp2.1/bin/runtimes/unix/lib/netstandard1.3/System.Text.Encoding.CodePages.dll
bin/Debug/netcoreapp2.1/bin/Newtonsoft.Json.dll
bin/Debug/netcoreapp2.1/bin/Newtonsoft.Json.Bson.dll
bin/Debug/netcoreapp2.1/bin/NCrontab.Signed.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.WindowsAzure.Storage.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Net.Http.Headers.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Options.ConfigurationExtensions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.ObjectPool.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Logging.Configuration.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Hosting.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Hosting.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.FileSystemGlobbing.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.FileProviders.Physical.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.FileProviders.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.DependencyModel.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.Json.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.FileExtensions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Build.Utilities.Core.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Build.Framework.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Host.Storage.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Host.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Extensions.Storage.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Extensions.Http.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.Extensions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.Azure.WebJobs.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.WebUtilities.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Routing.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Routing.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Mvc.WebApiCompatShim.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Mvc.Core.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Mvc.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.JsonPatch.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.Features.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.Extensions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Http.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Hosting.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Authorization.Policy.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Authorization.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Authentication.Core.dll
bin/Debug/netcoreapp2.1/bin/Microsoft.AspNetCore.Authentication.Abstractions.dll
bin/Debug/netcoreapp2.1/bin/mcscOfficial.pdb
bin/Debug/netcoreapp2.1/bin/mcscOfficial.dll
bin/Debug/netcoreapp2.1/bin/HtmlAgilityPack.dll
bin/Debug/netcoreapp2.1/bin/extensions.json
.vscode/tasks.json
.vscode/settings.json
.vscode/launch.json
.vscode/extensions.json
local.settings.json
obj/Debug/netcoreapp2.1/mcscOfficial.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/mcscOfficial.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/mcscOfficial.assets.cache
obj/Debug/netcoreapp2.1/mcscOfficial.csproj.CopyComplete
obj/Debug/netcoreapp2.1/mcscOfficial.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/mcscOfficial.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/mcscOfficial.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/mcscOfficial.dll
obj/Debug/netcoreapp2.1/mcscOfficial.pdb
obj/Debug/netcoreapp2.1/project.razor.json
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/mcscOfficial.csproj.nuget.cache
obj/mcscOfficial.csproj.nuget.g.props
obj/mcscOfficial.csproj.nuget.g.targets
obj/project.assets.json
bin/
obj/
.DS_Store
luis.json
tweets.json